
<div class="container mt-3">
    <div class="card">
    <%= image_tag 'patrick-fore-0gkw_9fy0eQ-unsplash.jpg', style: 'opacity:70%;height:500px;width:auto;background-position:center center; background-size:cover'%>
    <div class="card-img-overlay">
    <div class="card-body text-center" style="align-items:center">
        <h2 class="card-title text-light">Alpha Blog</h2>
        <h3 class="card-text text-light mt-4">Alpha Blog is a platform where you can add articles, and share it with the world. </h3>

        <h4 class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</h4>
        <% if !user_signed_in? %> 
            <%= link_to "Signup", new_user_registration_path, class:"btn btn-primary btn-lg mt-5" %> 
            <%= link_to "Login", new_user_session_path, class:"btn btn-warning btn-lg mt-5" %> 
        <% else %>
            <%= link_to "Articles", articles_path, class:"btn btn-primary btn-lg mt-5"%>
        <%end%>

    </div>
    </div>
</div>